:root {
    --primary: #f7fca2;
    --primary-rgb: 247, 252, 162;
    --secondary: #277777;
    --secondary-rgb: 39, 119, 119;
    --tertiary: #e8f0fe;
    --quaternary: #f8f9fa;
    --background: #f0f0f0;
    --check-schedule: #000;
}

:root {
    background-color: var(--secondary);
}

body {
    background-color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}
